<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load staticfiles %}

    <!-- Bootstrap require -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Fonts require -->
    <!-- Roboto google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

<div class="general-container">
    <div class="container top-container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h1 class="title">Наш магазин скоро откроется<br>
                    Оставляйте Ваш email в форме ниже</h1>
                <div>
                    <form action="" method="post" class="form-inline justify-content-center">{% csrf_token %}
                        <div class="form-group">
                            <label>Ваше имя: </label>
                            <input type="text" name="{{ form.name.name }}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Ваш e-mail: </label>
                            <input type="text" name="{{ form.email.name }}" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-orange">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap require -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>