html, body {
    height: 100%;
    max-height: 100%;
}
.top-container {
    padding-top: 10%;
}
.general-container {
    background: url("http://azmind.com/premium/marco/v2-3/layout-15/assets/img/backgrounds/1.jpg") no-repeat center;
    height: 100%;
}
.general-container form label {
    font-weight: 100;
}
/* Заголовки */
h1.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 50px;
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 14pt;
}
/* Buttons */
.btn-orange {
    background-color: #e8643e;
    border: none;
    margin: 5px;
}
.btn-orange:hover {
    background-color: #dc5129;
    border: none;
    cursor: pointer;
}
/* FORMS */
form {
    margin-top: 40px;
}
form label {
    color: #fff;
    margin: 5px;
}